In [1]:
import pandas as pd

In [10]:
prefix_path = '../../data/MovieSummaries'
file_path = f'{prefix_path}/movie.metadata.tsv'
headers = ['Wikipedia movie ID', 'Freebase movie ID', 'Movie name', 'Movie release date', 'Movie box office revenue', 'Movie runtime', 'Movie languages', 'Movie countries', 'Movie genres']
df_movie = pd.read_csv(file_path, sep='\t', names=headers, header=None)
print("Number of datapoints: ", len(df_movie))
df_movie.head()

Number of datapoints:  81741

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [11]:
df_movie_ratings = pd.read_csv('../../data/movies_metadata.csv', sep=',', header=0)
print("Number of datapoints: ", len(df_movie_ratings))
df_movie_ratings.head()

Number of datapoints:  45466

/var/folders/dh/598mynx558b49xpd__0_7csw0000gn/T/ipykernel_74306/2375584177.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movie_ratings = pd.read_csv('../../data/movies_metadata.csv', sep=',', header=0)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [12]:
import re

def prepare_dataset(df, date_col='Movie release date', name_col='Movie name'):
    # Step 1: Create 'merge_year' by extracting the year from the date column
    df['merge_year'] = pd.to_datetime(df[date_col], errors='coerce').dt.year

    # Step 2: Create 'merge_name' by standardizing the movie name
    df['merge_name'] = df[name_col].str.lower()                           # Convert to lowercase
    df['merge_name'] = df['merge_name'].str.strip()                       # Strip whitespace
    df['merge_name'] = df['merge_name'].apply(lambda x: re.sub(r'[^a-z0-9\s]', '', x))  # Remove special characters

    return df

In [13]:
df_movie = prepare_dataset(df_movie)
df_movie_ratings = prepare_dataset(df_movie_ratings, 'release_date', 'original_title')
print(f"df movie len: {len(df_movie)}, df ratings len: {len(df_movie_ratings)}")

df movie len: 81741, df ratings len: 45466

In [14]:
df_merged = pd.merge(df_movie, df_movie_ratings, on=['merge_name', 'merge_year'], how='inner')
print("Number of merged datapoints: ", len(df_merged))
df_merged.head()

Number of merged datapoints:  12994

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,merge_year,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001.0,...,2001-08-24,14010832.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror is the same on any planet.,Ghosts of Mars,False,4.8,299.0
1,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...",1938.0,...,1938-05-24,4000000.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An American Cavalcade!,Alexander's Ragtime Band,False,4.8,6.0
2,6631279,/m/0gffwj,Little city,1997-04-04,NaN,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/0hj3n0w"": ...",1997.0,...,1997-04-04,0.0,90.0,[],Released,When your one and only... isn't the only one!,Little City,False,6.0,1.0
3,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",1989.0,...,1989-10-05,0.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The great adventure of a king who defied the o...,Henry V,False,7.4,73.0
4,77856,/m/0kcn7,Mary Poppins,1964-08-27,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""...",1964.0,...,1964-08-27,102272727.0,139.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's supercalifragilisticexpialidocious!,Mary Poppins,False,7.4,1217.0

In [16]:
df_merged['merge_year'].value_counts()

merge_year
2011.0    553
2006.0    502
2009.0    488
2008.0    442
2010.0    439
         ...
2014.0      2
1901.0      1
2016.0      1
1892.0      1
1896.0      1
Name: count, Length: 112, dtype: int64